@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br /><br />

        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Create New Employee</h4>
                    </div>
                    <div class="card-body">
                        <form action="~/Employee/Save" method="post">
                            Name (last, first)
                            <input type="text" name="Lastname"
                                   class="form-control" value="" />
                            <input type="text" name="Firstname"
                                   class="form-control" value="" />
                            <br />
                            Date Hired
                            <input type="date" name="DateHired"
                                   class="form-control" value="" />
                            <br />
                            Hourly Rate
                            <input type="number" step="0.01"
                                   class="form-control"
                                   name="HourlyRate" value="" />
                            <br />
                            <a href="~/Employee/Index" class="btn btn-secondary">
                                <i class="fa fa-arrow-left"></i>
                                Back
                            </a>
                            <button type="submit" class="btn btn-info fa-pull-right">
                                <i class="fa fa-save"></i>
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
